# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Node.js
# ==========================

**/node_modules/

# ==========================
# Logs
# ==========================

*.log
npm-debug.log*

# ==========================
# Temporary Files
# ==========================

*.tmp
*.temp

# ==========================
# Environment Files
# ==========================

.env
.env.local